# See: https://ascribe.axvr.uk
*           text=auto eol=lf trim-trailing-whitespace final-newline
*.erb       expand-tab tab-stop=4 linguist-language=Ruby
Makefile    -expand-tab
*.md        expand-tab tab-stop=4
